ion-list {
  margin-bottom: 1.5rem;
}

ion-modal {
  --width: 90vw;
  --height: 50%;
}



ion-footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background: #1f1f1f;
}

.width-full {
    width: 100%;
}