
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Participantes</ion-title>
    <ion-buttons slot="start">
      
      <ion-back-button [routerLink]="['/evento', evento!.id]"
        

      ></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <section *ngFor="let participante of participantes; let i = index" class="flex items-center gap-4 p-1">
    <div class="flex items-center gap-4 p-3 rounded-lg bg-white dark:bg-background-dark/50"
      style="background-color: #06192D;width: 100%; ">

      <div slot="start"></div>


      <div style="align-items: center;display: flex;width: 100%;">

        <div style="width: 65%;">
          {{ participante.name }}
        </div>
 
        <div style="width: 15%;">
          <ion-button color="primary" (click)="editParticipante(i)">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>

        </div>
        <div style="width: 15%;">
          <ion-button color="danger" (click)="deleteParticipante(i)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>

        </div>
      </div>





    </div>
  </section>


  <ion-modal [isOpen]="showModal" (didDismiss)="closeModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ editIndex !== null ? 'Editar' : 'Agregar' }} Participante</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input  autocapitalize="sentences" [(ngModel)]="nombreParticipante"></ion-input>
        </ion-item>
        <ion-footer>
          <ion-button expand="block" (click)="saveParticipante()">Guardar</ion-button>
          <ion-button expand="block" color="medium" (click)="closeModal()">Cancelar</ion-button>
        </ion-footer>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>


<ion-fab slot="fixed" style="bottom: 100px; right: 24px; position: absolute;">
  <ion-fab-button (click)="openAdd()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
