<ion-header [translucent]="true">


  <ion-toolbar>
    <ion-title>Items</ion-title>
    <ion-buttons slot="start">
      
      <ion-back-button [routerLink]="['/evento', evento!.id]"
        

      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">                   
      <ion-button (click)="abrirCamaraOGaleria()" [disabled]="ocrCargando">
        <ion-icon name="camera-sharp"></ion-icon>
        
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div *ngIf="ocrCargando" class="spin">
    <ion-spinner color="primary"></ion-spinner>
    <div>Leyendo contenido de la boleta...</div>
  </div>

  <ion-text color="danger" *ngIf="ocrError">{{ ocrError }}</ion-text>

  <!-- DEV: Keyboard simulator toggle (only for debugging in browser) 
  <div style="position: absolute; top: 8px; right: 8px; z-index: 999;">
    <ion-button size="small" color="tertiary" (click)="toggleKeyboard()">
      {{ keyboardSimulated ? 'Hide KB' : 'Show KB' }}
    </ion-button>
  </div>-->

  <ion-list *ngIf="!ocrCargando" style="overflow-y: auto; padding: 1rem;">
    <ion-item *ngFor="let item of items; let i = index">
      <ion-label>{{ item.name }}</ion-label>
      <ion-buttons slot="end">
        <ion-label>{{ item.price | clpCurrency }}</ion-label>
        <ion-button color="danger" (click)="eliminarItem(i)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <input #ocrInput id="ocrInput" type="file" accept="image/*" capture="environment" (change)="procesarImagen($event)" style="display:none" />


  <ion-toolbar  class="scroll-content">
    
      <ion-input  autocapitalize="words" placeholder="Nombre item" [(ngModel)]="nuevoNombre" (ionFocus)="onFocus($event)" style="flex:1"></ion-input>
      <ion-input (ionFocus)="onFocus($event)" inputmode="numeric" placeholder="Monto" [(ngModel)]="nuevoMonto" style="width:120px"></ion-input>
      <ion-button (click)="agregarItem()" [disabled]="!nuevoNombre || !nuevoNombre.trim() || !nuevoMonto">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    
  </ion-toolbar>

  

  <ion-footer>
  <ion-toolbar>
    <div class="form-row">
      <ion-input placeholder="Nombre"></ion-input>
      <ion-input type="email" placeholder="Correo"></ion-input>
      <ion-button expand="block" color="primary">OK</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

  

  


</ion-content>


