<!-- @import FormsModule -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ evento.title }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/home"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="evento" >

      <div>
        <p>
          {{ evento.description }}
        </p>
        
        <div class="participants-section">
          <strong>Participantes:</strong>
          
  
          <section  >
            
            <div class="space-y-2" style="width: 100%;">
              <div *ngFor="let participante of evento.participants" class="flex items-center gap-4 p-3 rounded-lg bg-white dark:bg-background-dark/50" style="background-color: #06192D;">
                
                <div class="flex-grow">
                  <p class="font-semibold  dark:text-white">{{ participante.name }}</p>
                </div>
              </div>
  
            </div>
            <div class="mt-4 flex justify-end">
            <button [routerLink]="['/participantes', evento.id]" class="bg-primary/20 dark:bg-primary/30 text-primary font-bold py-2 px-4 rounded-lg text-sm">
                                        Editar Participantes
                                    </button>
            </div>
          </section>
          <strong>Items:</strong>
          <section class="mt-8">
            
            
            <div  class="space-y-4">
              <div *ngFor="let item of evento.items; let i = index" class="p-4 rounded-lg bg-white dark:bg-background-dark/50 space-y-3" style="background-color: #06192D;">
                <div class="flex items-center gap-4">
                  <div class="flex-grow">
                    <p >{{ item.name }}</p>
                  </div>
                  <div>
                    <td class="font-semibold text-sm shrink-0" style="float: inline-end;">{{ item.price | clpCurrency }}</td>
                  
                    
                  <div >
                    <label class="sr-only" for="assign-decoracion">Asignar a</label>
                    <select [(ngModel)]="item.participant" (ngModelChange)="calcularMontoApagar()" class="w-full bg-background-light dark:bg-gray-700 border border-gray-300 dark:border-gray-600 text-gray-900 dark:text-white text-sm rounded-lg focus:ring-primary focus:border-primary block p-2.5" id="assign-decoracion">
                      <option [ngValue]="undefined">-- Seleccionar --</option>
                      <option *ngFor="let participante of evento.participants" [ngValue]="participante.name">{{ participante.name }}</option>
                    </select>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="mt-4 flex justify-end">
              <!--<ion-button size="small"  style="margin-left: 0.5rem;float: right;">{{(evento!.items!.length > 0)? "Editar": "Agregar"}}</ion-button>  -->
              <button [routerLink]="['/items', evento.id]" class="bg-primary/20 dark:bg-primary/30 text-primary font-bold py-2 px-4 rounded-lg text-sm">
                                          Editar items
                                      </button>
            </div>
          </section>

          <div *ngIf="evento.items && evento.items.length > 0">
            <input type="checkbox" name="confirm" id="confirm" [(ngModel)]="incluyePropina" (change)="calcularMontoApagar()">
            <label for="confirm">Incluye propina</label>
          </div>
          
        </div>
        <!--<ion-button size="small" [routerLink]="['/participantes', evento.id]" style="margin-left: 1rem;float: right;">{{(evento.participants.length > 0)? "Editar": "Agregar"}}</ion-button>-->
        

        
          <div class="participants-section" >
            <strong>Detalle por participante:</strong>
            <section class="mt-8">
              
              <div  class="space-y-4">
                <div *ngFor="let participante of evento.participants" class="p-4 rounded-lg dark:bg-background-dark/50 space-y-3" style="background-color: #06192D;">
                  <div class="flex items-center gap-4">
                    <div class="flex-grow">
                      <p >{{ participante.name }}</p>
                    </div>
                    <div>
                      <td class=" text-sm   shrink-0" style="float: inline-end;">{{ participante.montoApagar | clpCurrency }}</td>
      
                   </div>
                  </div>
                </div>
                <div  class="p-4 rounded-lg bg-white dark:bg-background-dark/50 space-y-3" style="background-color: #06192D;">
                <div class="flex items-center gap-4">
                    <div class="flex-grow">
                      <strong>Total</strong>
                    </div>
                    <div>
                      <strong>{{ totalAsignado() | clpCurrency }}</strong>
      
                   </div>
                  </div>
                  </div>

              </div>

            </section>
          </div>
        


          <br>
          <br><br>
          
        


    

      </div>
      
  </ion-content>

